.promo {
	min-height: 100vh;
	position: relative;
	background: url('../img/bg/bg.jpg') no-repeat 50%/cover;
	padding-top: 205px;
	&__title {
		width: 532px;
		margin-top: 9px;
	}
	&__subtitle {
		position: relative;
		padding-left: 10px;	
		z-index: 2;
		@include before_circle;
		
	}
	&__btns {
		width: 245px;
		margin-top: 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&_link {
		color: #000;
		text-decoration: none;
		font-weight: 700;
		&:hover {
			color: #000;
			text-decoration: none;
		}
	}
}

